@cell-size: 10px;
div#board {
  // width: calc(6px * 100);
  // height: calc(6px * 100);
}

div#board>div {
  border-right  : solid 1px #ccc;
  border-bottom : solid 1px #ccc;
  width         : @cell-size;
  height        : @cell-size;
  display       : inline-block;
  font-size     : @cell-size;
  line-height   : @cell-size;
  vertical-align: middle;
  text-align: center;

  &.On {
    background-color: black;
    color           : white;
  }

  &.AntRight::before {
    content: '⮞'
  }

  &.AntLeft::before {
    content: '⮜'
  }

  &.AntUp::before {
    content: '⮝'
  }

  &.AntDown::before {
    content: '⮟'
  }
}

ul#Info {
  border    : solid 1px #888;
  float     : right;
  list-style: none;
  padding   : 0;
  display   : table;

  >li {
    display: table-row;
  }

  label,
  span {
    display: table-cell;
    padding: 0.2em;
    width: 4em;
  }
  input+span {
    display: block;
  }
}